
  <style>
    .animation-bar-1 {
      position: relative;
      display: block;
      overflow: hidden;
      font-size: 16px;
      line-height: 16px;
      border-radius: 30px;
      background: rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.1);
    }

    .animation-bar-1 span {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      border-radius: 30px;
      overflow: hidden;
      background-color: green;
      background-size: 100%;
      background-image: linear-gradient(to bottom, #5ef239, #0cb929);
      animation: progress-bar-1 2s forwards ease;
    }

    @keyframes progress-bar-1 {
      0% {
        width: 0%;
      }

      100% {
        width: 72%;
      }
    }
  </style>
